In [1]:
import pandas as pd
import numpy as np
import string

In [2]:
data=pd.read_csv('Resume.csv')

In [3]:
cat=data['Category']

In [4]:
data.head()

,ID,Resume_str,Resume_html,Category
0,16852973,HR ADMINISTRATOR/MARKETING ASSOCIATE\...,"<div class=""fontsize fontface vmargins hmargin...",HR
1,22323967,"HR SPECIALIST, US HR OPERATIONS ...","<div class=""fontsize fontface vmargins hmargin...",HR
2,33176873,HR DIRECTOR Summary Over 2...,"<div class=""fontsize fontface vmargins hmargin...",HR
3,27018550,HR SPECIALIST Summary Dedica...,"<div class=""fontsize fontface vmargins hmargin...",HR
4,17812897,HR MANAGER Skill Highlights ...,"<div class=""fontsize fontface vmargins hmargin...",HR

In [5]:
data.shape

(2484, 4)

In [6]:
data['Category'].unique()

array(['HR', 'DESIGNER', 'INFORMATION-TECHNOLOGY', 'TEACHER', 'ADVOCATE',
       'BUSINESS-DEVELOPMENT', 'HEALTHCARE', 'FITNESS', 'AGRICULTURE',
       'BPO', 'SALES', 'CONSULTANT', 'DIGITAL-MEDIA', 'AUTOMOBILE',
       'CHEF', 'FINANCE', 'APPAREL', 'ENGINEERING', 'ACCOUNTANT',
       'CONSTRUCTION', 'PUBLIC-RELATIONS', 'BANKING', 'ARTS', 'AVIATION'],
      dtype=object)

In [7]:
from sklearn.preprocessing import LabelEncoder
lbl=LabelEncoder()
data['Category']=lbl.fit_transform(data['Category'])

In [8]:
lbl.classes_

array(['ACCOUNTANT', 'ADVOCATE', 'AGRICULTURE', 'APPAREL', 'ARTS',
       'AUTOMOBILE', 'AVIATION', 'BANKING', 'BPO', 'BUSINESS-DEVELOPMENT',
       'CHEF', 'CONSTRUCTION', 'CONSULTANT', 'DESIGNER', 'DIGITAL-MEDIA',
       'ENGINEERING', 'FINANCE', 'FITNESS', 'HEALTHCARE', 'HR',
       'INFORMATION-TECHNOLOGY', 'PUBLIC-RELATIONS', 'SALES', 'TEACHER'],
      dtype=object)

In [9]:
data=data.drop(['Resume_html','ID'],axis=1)

In [10]:
data.head()

                                          Resume_str  Category
0           HR ADMINISTRATOR/MARKETING ASSOCIATE\...        19
1           HR SPECIALIST, US HR OPERATIONS      ...        19
2           HR DIRECTOR       Summary      Over 2...        19
3           HR SPECIALIST       Summary    Dedica...        19
4           HR MANAGER         Skill Highlights  ...        19

In [11]:
data = data[data['Category'] != 8]

In [12]:
data.head()

                                          Resume_str  Category
0           HR ADMINISTRATOR/MARKETING ASSOCIATE\...        19
1           HR SPECIALIST, US HR OPERATIONS      ...        19
2           HR DIRECTOR       Summary      Over 2...        19
3           HR SPECIALIST       Summary    Dedica...        19
4           HR MANAGER         Skill Highlights  ...        19

In [13]:
data.isna().sum()

Resume_str    0
Category      0
dtype: int64

In [14]:
data['Resume_str']=data['Resume_str'].str.lower()

In [15]:
import re

def preprocess_text(text):
    # Remove numbers
    text = re.sub(r'\d+', '', text)
    
    # Remove unwanted characters (replace with whitespace)
    text = re.sub(r'[^a-zA-Z\s]', ' ', text)
    
    # Convert to lowercase
    text = text.lower()
    
    # Remove extra whitespaces
    text = re.sub(r'\s+', ' ', text).strip()
    
    return text

In [16]:
data['Resume_str'] = data['Resume_str'].apply(lambda x: preprocess_text(x))

In [17]:
data['Resume_str'] = data['Resume_str'].apply(lambda x: ''.join([c for c in x if c not in string.punctuation]))

In [18]:
result=data['Category']

In [19]:
data.head()

                                          Resume_str  Category
0  hr administrator marketing associate hr admini...        19
1  hr specialist us hr operations summary versati...        19
2  hr director summary over years experience in r...        19
3  hr specialist summary dedicated driven and dyn...        19
4  hr manager skill highlights hr skills hr depar...        19

In [20]:
data['Resume_str'] = data['Resume_str'].apply(lambda x: x.split())

In [21]:
data.head()

                                          Resume_str  Category
0  [hr, administrator, marketing, associate, hr, ...        19
1  [hr, specialist, us, hr, operations, summary, ...        19
2  [hr, director, summary, over, years, experienc...        19
3  [hr, specialist, summary, dedicated, driven, a...        19
4  [hr, manager, skill, highlights, hr, skills, h...        19

In [22]:
from nltk.corpus import stopwords
import nltk
nltk.download('stopwords')

# Remove stopwords
stop_words = set(stopwords.words('english'))
data['Resume_str'] = data['Resume_str'].apply(lambda x: [word for word in x if word not in stop_words])

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/namanmuktha/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [23]:
data.head()

                                          Resume_str  Category
0  [hr, administrator, marketing, associate, hr, ...        19
1  [hr, specialist, us, hr, operations, summary, ...        19
2  [hr, director, summary, years, experience, rec...        19
3  [hr, specialist, summary, dedicated, driven, d...        19
4  [hr, manager, skill, highlights, hr, skills, h...        19

In [24]:
from nltk.stem import WordNetLemmatizer
nltk.download('wordnet')

# Lemmatization
lemmatizer = WordNetLemmatizer()
data['Resume_str'] = data['Resume_str'].apply(lambda x: [lemmatizer.lemmatize(word) for word in x])

[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/namanmuktha/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [25]:
data.head()

                                          Resume_str  Category
0  [hr, administrator, marketing, associate, hr, ...        19
1  [hr, specialist, u, hr, operation, summary, ve...        19
2  [hr, director, summary, year, experience, recr...        19
3  [hr, specialist, summary, dedicated, driven, d...        19
4  [hr, manager, skill, highlight, hr, skill, hr,...        19

In [26]:
from nltk import SnowballStemmer
lang="english"
steamer=SnowballStemmer(lang)
def adding_stemming(tokens):
    return [steamer.stem(token) for token in tokens]
data["Resume_str"]=data["Resume_str"].apply(adding_stemming)

In [27]:
data.head()

                                          Resume_str  Category
0  [hr, administr, market, associ, hr, administr,...        19
1  [hr, specialist, u, hr, oper, summari, versati...        19
2  [hr, director, summari, year, experi, recruit,...        19
3  [hr, specialist, summari, dedic, driven, dynam...        19
4  [hr, manag, skill, highlight, hr, skill, hr, d...        19

In [28]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf_vectorizer = TfidfVectorizer(max_features=20000)

# Assuming 'work_data' is a DataFrame with a 'text' column containing lists of words
tfidf_matrix = tfidf_vectorizer.fit_transform([" ".join(doc) for doc in data['Resume_str']])

tfidf_df = pd.DataFrame(tfidf_matrix.toarray(), columns=tfidf_vectorizer.get_feature_names_out())

# Concatenate the 'text' column and the TF-IDF features
data = pd.concat([data['Resume_str'].reset_index(drop=True), tfidf_df], axis=1)

In [29]:
data.head()

,Resume_str,aa,aaa,aaahc,aac,aaf,aagi,aam,aami,aap,...,zune,zurich,zutano,zvm,zx,zxx,zynex,zynx,zypher,zyrtec
0,"[hr, administr, market, associ, hr, administr,...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,"[hr, specialist, u, hr, oper, summari, versati...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,"[hr, director, summari, year, experi, recruit,...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,"[hr, specialist, summari, dedic, driven, dynam...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,"[hr, manag, skill, highlight, hr, skill, hr, d...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [30]:
data=data.drop(['Resume_str'],axis=1)

In [31]:
data.head()

,aa,aaa,aaahc,aac,aaf,aagi,aam,aami,aap,aaron,...,zune,zurich,zutano,zvm,zx,zxx,zynex,zynx,zypher,zyrtec
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [32]:
data.shape

(2462, 20000)

In [33]:
result

0       19
1       19
2       19
3       19
4       19
        ..
2479     6
2480     6
2481     6
2482     6
2483     6
Name: Category, Length: 2462, dtype: int64

In [34]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(data,result,test_size=0.2,random_state=132)

In [35]:
from sklearn.naive_bayes import MultinomialNB

In [36]:
from sklearn.metrics import accuracy_score
gnb=MultinomialNB()
gnb.fit(X_train,y_train)
y_p=gnb.predict(X_test)
print(accuracy_score(y_test,y_p)*100)

54.15821501014199

In [37]:
from sklearn.svm import SVC 
svc=SVC()
svc.fit(X_train,y_train)
y_p=svc.predict(X_test)
print(accuracy_score(y_test,y_p)*100)

60.649087221095336

In [38]:
from sklearn.tree import DecisionTreeClassifier 
dt=DecisionTreeClassifier()
dt.fit(X_train,y_train)
y_p=dt.predict(X_test)
print(accuracy_score(y_test,y_p)*100)

48.073022312373226

In [39]:
from sklearn.ensemble import RandomForestClassifier 
from sklearn.metrics import accuracy_score,classification_report
rfc=RandomForestClassifier()
rfc.fit(X_train,y_train)
y_p=rfc.predict(X_test)
print(accuracy_score(y_test,y_p)*100)
print(classification_report(y_test,y_p))

59.2292089249493
              precision    recall  f1-score   support

           0       0.65      0.90      0.76        31
           1       0.50      0.43      0.47        23
           2       0.71      0.42      0.53        12
           3       0.83      0.25      0.38        20
           4       0.33      0.06      0.10        17
           5       0.00      0.00      0.00        10
           6       0.59      0.77      0.67        22
           7       0.62      0.54      0.58        24
           9       0.37      0.57      0.45        23
          10       0.70      0.95      0.81        20
          11       0.71      0.86      0.77        28
          12       0.67      0.19      0.30        31
          13       0.85      0.58      0.69        19
          14       0.67      0.67      0.67        18
          15       0.61      0.61      0.61        23
          16       0.72      0.57      0.63        23
          17       0.69      0.50      0.58        22
          18       0.39      0.65      0.49        20
          19       0.61      0.81      0.69        21
          20       0.58      0.86      0.69        22
          21       0.45      0.56      0.50        16
          22       0.36      0.38      0.37        24
          23       0.72      0.96      0.82        24

    accuracy                           0.59       493
   macro avg       0.58      0.57      0.55       493
weighted avg       0.60      0.59      0.56       493

/Users/namanmuktha/anaconda3/lib/python3.11/site-packages/sklearn/metrics/_classification.py:1471: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/namanmuktha/anaconda3/lib/python3.11/site-packages/sklearn/metrics/_classification.py:1471: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/namanmuktha/anaconda3/lib/python3.11/site-packages/sklearn/metrics/_classification.py:1471: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [40]:
from sklearn.multiclass import OneVsRestClassifier
from sklearn.neighbors import KNeighborsClassifier
clf = OneVsRestClassifier(KNeighborsClassifier())
%time clf.fit(X_train, y_train)
prediction = clf.predict(X_test)
print(accuracy_score(y_test,prediction)*100)

CPU times: user 3.79 s, sys: 1.23 s, total: 5.03 s
Wall time: 5.38 s
54.563894523326574

In [41]:
clf_report = classification_report(y_test, prediction)

In [42]:
print(clf_report)

              precision    recall  f1-score   support

           0       0.60      0.87      0.71        31
           1       0.47      0.35      0.40        23
           2       0.83      0.42      0.56        12
           3       0.50      0.20      0.29        20
           4       0.38      0.18      0.24        17
           5       0.50      0.20      0.29        10
           6       0.75      0.55      0.63        22
           7       0.75      0.50      0.60        24
           9       0.43      0.52      0.47        23
          10       0.80      0.80      0.80        20
          11       0.75      0.86      0.80        28
          12       0.25      0.06      0.10        31
          13       0.81      0.68      0.74        19
          14       0.58      0.61      0.59        18
          15       0.57      0.74      0.64        23
          16       0.43      0.39      0.41        23
          17       0.62      0.45      0.53        22
          18       0.28      0.55      0.37        20
          19       0.62      0.71      0.67        21
          20       0.46      0.77      0.58        22
          21       0.38      0.56      0.45        16
          22       0.42      0.54      0.47        24
          23       0.61      0.71      0.65        24

    accuracy                           0.55       493
   macro avg       0.56      0.53      0.52       493
weighted avg       0.55      0.55      0.53       493

In [43]:
from sklearn.multiclass import OneVsRestClassifier
from sklearn.linear_model import LogisticRegression
clf = OneVsRestClassifier(LogisticRegression(C=100,solver='liblinear'))
%time clf.fit(X_train, y_train)
prediction = clf.predict(X_test)
print(accuracy_score(y_test,prediction)*100)
print(classification_report(y_test,prediction))

CPU times: user 57.1 s, sys: 1.65 s, total: 58.7 s
Wall time: 10.7 s
67.95131845841786
              precision    recall  f1-score   support

           0       0.72      0.84      0.78        31
           1       0.67      0.61      0.64        23
           2       0.64      0.58      0.61        12
           3       0.69      0.45      0.55        20
           4       0.40      0.35      0.38        17
           5       0.60      0.30      0.40        10
           6       0.81      0.77      0.79        22
           7       0.75      0.75      0.75        24
           9       0.44      0.70      0.54        23
          10       0.90      0.95      0.93        20
          11       0.89      0.89      0.89        28
          12       0.71      0.32      0.44        31
          13       0.93      0.74      0.82        19
          14       0.67      0.67      0.67        18
          15       0.72      0.78      0.75        23
          16       0.68      0.65      0.67        23
          17       0.79      0.68      0.73        22
          18       0.48      0.65      0.55        20
          19       0.75      0.86      0.80        21
          20       0.57      0.77      0.65        22
          21       0.55      0.69      0.61        16
          22       0.52      0.54      0.53        24
          23       0.83      0.79      0.81        24

    accuracy                           0.68       493
   macro avg       0.68      0.67      0.66       493
weighted avg       0.69      0.68      0.68       493

In [44]:
import joblib
joblib.dump(tfidf_vectorizer, 'tfidf_vectorizer.pkl')
joblib.dump(clf, 'model_job.pkl')

['model_job.pkl']

In [49]:
import re
import string
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer, SnowballStemmer

nltk.download('stopwords')
nltk.download('wordnet')

def preprocess_text(text):
    # Convert to lowercase
    text = text.lower()
    
    # Remove numbers
    text = re.sub(r'\d+', '', text)
    
    # Remove unwanted characters (replace with whitespace)
    text = re.sub(r'[^a-zA-Z\s]', ' ', text)
    
    # Remove extra whitespaces
    text = re.sub(r'\s+', ' ', text).strip()
    
    # Remove punctuation
    text = ''.join([c for c in text if c not in string.punctuation])
    
    # Tokenize
    tokens = text.split()
    
    # Remove stopwords
    stop_words = set(stopwords.words('english'))
    tokens = [word for word in tokens if word not in stop_words]
    
    # Lemmatization
    lemmatizer = WordNetLemmatizer()
    tokens = [lemmatizer.lemmatize(word) for word in tokens]
    
    # Stemming
    lang = "english"
    stemmer = SnowballStemmer(lang)
    tokens = [stemmer.stem(token) for token in tokens]
    
    return tokens

# Example usage:
input_text = """
Sai Kiran B L S

Last Updated on 1st October 2023

LinkedIn| Github| bayyanakiran@gmail.com | 7416612772 | Hyderabad,Telangana,India

EDUCATION

EXPERIENCE

CMR COLLEGE OF ENGINEER- CALLIPPUS SOLUTIONS | Data Analyst
June 2022 – August 2022 | Hyderabad,Telangana (remote)
...
...
"""

preprocessed_text = preprocess_text(input_text)
print(preprocessed_text)

['sai', 'kiran', 'b', 'l', 'last', 'updat', 'st', 'octob', 'linkedin', 'github', 'bayyanakiran', 'gmail', 'com', 'hyderabad', 'telangana', 'india', 'educ', 'experi', 'cmr', 'colleg', 'engin', 'callippus', 'solut', 'data', 'analyst', 'june', 'august', 'hyderabad', 'telangana', 'remot']

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/namanmuktha/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/namanmuktha/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [50]:
new_text_tfidf = tfidf_vectorizer.transform(preprocessed_text)

In [51]:
clf.predict(new_text_tfidf)

/Users/namanmuktha/anaconda3/lib/python3.11/site-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([ 6,  6,  6,  6,  3,  6,  6,  4,  6,  6,  6,  6, 12,  6,  6,  7, 23,
        2,  6,  2, 15,  6,  6, 20,  7,  4, 17,  6,  6,  2])

In [52]:
import re

def check_future_stacks_in_resume(resume_text, future_stacks):
    present_stacks = []

    # Convert the resume text to lowercase for case-insensitive matching
    resume_text_lower = resume_text.lower()

    # Iterate through each future stack and check if it's present in the resume
    for stack in future_stacks:
        # Use regular expression for word boundary matching
        pattern = re.compile(r'\b' + re.escape(stack.lower()) + r'\b')
        
        if re.search(pattern, resume_text_lower):
            present_stacks.append(stack)

    return present_stacks

# Example resume text
resume_text = """
Sai Kiran B L S

Last Updated on 1st October 2023

LinkedIn| Github| bayyanakiran@gmail.com | 7416612772 | Hyderabad,Telangana,India

EDUCATION

EXPERIENCE

CMR COLLEGE OF ENGINEER- CALLIPPUS SOLUTIONS | Data Analyst
June 2022 – August 2022 | Hyderabad,Telangana (remote)
...
...
"""
future_stacks="""
3D Printing/Additive Manufacturing
5G Technology
Advanced Driver Assistance Systems (ADAS)
Advanced Manufacturing Technology
Advanced Materials Science
Advanced Robotics
Autonomous Drones
Autonomous Shipping Technology
Autonomous Vehicles
Big Data Analytics
Bioinformatics
Biotechnology
Blockchain
Brain-Computer Interface (BCI) Wearables
Brain-Computer Interfaces (BCI)
CRISPR Technology
Carbon Capture and Storage (CCS)
Cloud Computing
Cognitive Computing
Computer Vision
Containerization (e.g., Docker, Kubernetes)
Cyber-Physical Systems (CPS)
Cybersecurity
Data Science
Decentralized Finance (DeFi)
Digital Therapeutics
Digital Twins
Edge AI
Edge Computing
Energy Harvesting Technology
Energy Storage Systems
Explainable AI (XAI)
Federated Learning
Food Traceability Technology
Fusion Energy Technology
Generative Adversarial Networks (GANs)
Genetic Engineering
Gesture Control Technology
High-Performance Computing (HPC)
Human Augmentation Technology
Humanoid Robotics
Hydrogen Fuel Cell Technology
Hyperloop Technology
Insect Farming Technology
Interplanetary Internet
Low-Code/No-Code Development Platforms
Metaverse Development
Microservices Architecture
Microservices Mesh
Multi-Experience Development Platforms (MXDPs)
Nanotechnology
Neurotechnology
Next-Generation Batteries
Non-Fungible Tokens (NFTs)
Ocean Cleanup Technology
Personalized Medicine Technology
Precision Agriculture Technology
Predictive Analytics
Predictive Maintenance Technology
Progressive Web Applications (PWAs)
Quantum Cryptography
Quantum Machine Learning
Quantum Sensing Technology
Regenerative Medicine
Renewable Energy Technology
Satellite Technology
Self-Healing Concrete
Self-driving Tractors
Self-healing Materials
Serverless Computing
Smart Cities Technology
Smart Contracts
Smart Fabrics
Smart Grid Technology
Solar Panel Technology
Space Exploration Technology
Space Tourism Technology
Supercritical CO2 Power Cycle Technology
Swarm Intelligence
Swarm Robotics
Synthetic Biology
Transparent Computing
Urban Air Mobility Technology
Vertical Farming Technology
Wearable Technology
Wind Turbine Technology
Machine Learning (ML)
Natural Language Processing (NLP)
Deep Learning (DL)
Virtual Reality (VR)
Internet of Things (IoT)
Robotics
Artificial Intelligence (AI)
Quantum Computing
Augmented Reality (AR)


User
I need 183 total values with correct wordss
ChatGPT
Certainly, here's the complete list of 183 values with corrected words:

3D Food Printing
6G Technology
AI-driven Drug Discovery
Aquaculture Technology
Automated Warehousing Systems
Autonomous Underwater Vehicles (AUVs)
Biodegradable Plastics
Biomimicry Technology
Blockchain-based Voting Systems
Carbon Capture and Utilization (CCU)
Carbon Nanotube Technology
Climate Engineering Technology
Cognitive Automation
Cognitive Cities
Collaborative Robots (Cobots)
Continuous Intelligence
Cryptocurrency Payment Systems
Digital Farming Platforms
Digital Identity Management
Digital Twins of Cities
Digital Watermarking Technology
Distributed Autonomous Organizations (DAOs)
Distributed Ledger Technology (DLT)
Dynamic Spectrum Sharing (DSS)
Edge Intelligence
Energy-Efficient Computing
Flexible Electronics
Graphene Technology
Green Technology
Hydroponics Technology
Hyperscale Data Centers
Hypersonic Transportation Technology
In-Memory Computing
Living Architecture
Memristor Technology
Neuromorphic Computing
Neurosymbolic AI
Ocean Thermal Energy Conversion (OTEC)
Personal Air Vehicles (PAVs)
Personalized Learning Platforms
Plant-Based Bioplastics
Plant-Based Meat Alternatives
Precision Agriculture Technology
Precision Livestock Farming
Predictive Logistics
Programmable Cities
Programmable DNA Nanobots
Programmable Matter
Programmable Metamaterials
Quantum Annealing
Quantum Communication
Quantum Internet
Quantum Key Distribution (QKD)
Quantum Materials
Quantum Networking
Quantum-resistant Cryptography
Remote Healthcare Technology
Remote Sensing Technology
Satellite Internet
Satellite Servicing Technology
Self-Driving Boats
Self-Driving Construction Equipment
Self-Driving Forklifts
Self-Driving Trucks
Smart Clothing
Smart Dust
Smart Furniture
Smart Irrigation Systems
Smart Packaging Technology
Smart Traffic Management Systems
Smart Waste Management Systems
Solar Windows
Solid-State Batteries
Space Debris Removal Technology
Space Elevator Technology
Space Habitats
Space-Based Solar Power
Space-based Manufacturing
Supply Chain Traceability Technology
Swarm Drones
Swarm Intelligence
Swarm Robotics
Synthetic Diamonds
Transparent Solar Panels
Urban Vertical Farming
Vertical Takeoff and Landing (VTOL) Aircraft
Zero-Carbon Cement
Zero-Knowledge Proofs
3D Printing/Additive Manufacturing
5G Technology
Advanced Driver Assistance Systems (ADAS)
Advanced Manufacturing Technology
Advanced Materials Science
Advanced Robotics
Autonomous Drones
Autonomous Shipping Technology
Autonomous Vehicles
Big Data Analytics
Bioinformatics
Biotechnology
Blockchain
Brain-Computer Interface (BCI) Wearables
Brain-Computer Interfaces (BCI)
CRISPR Technology
Carbon Capture and Storage (CCS)
Cloud Computing
Cognitive Computing
Computer Vision
Containerization (e.g., Docker, Kubernetes)
Cyber-Physical Systems (CPS)
Cybersecurity
Data Science
Decentralized Finance (DeFi)
Digital Therapeutics
Digital Twins
Edge AI
Edge Computing
Energy Harvesting Technology
Energy Storage Systems
Explainable AI (XAI)
Federated Learning
Food Traceability Technology
Fusion Energy Technology
Generative Adversarial Networks (GANs)
Genetic Engineering
Gesture Control Technology
High-Performance Computing (HPC)
Human Augmentation Technology
Humanoid Robotics
Hydrogen Fuel Cell Technology
Hyperloop Technology
Insect Farming Technology
Interplanetary Internet
Low-Code/No-Code Development Platforms
Metaverse Development
Microservices Architecture
Microservices Mesh
Multi-Experience Development Platforms (MXDPs)
Nanotechnology
Neurotechnology
Next-Generation Batteries
Non-Fungible Tokens (NFTs)
Ocean Cleanup Technology
Personalized Medicine Technology
Precision Agriculture Technology
Predictive Analytics
Predictive Maintenance Technology
Progressive Web Applications (PWAs)
Quantum Cryptography
Quantum Machine Learning
Quantum Sensing Technology
Regenerative Medicine
Renewable Energy Technology
Satellite Technology
Self-Healing Concrete
Self-driving Tractors
Self-healing Materials
Serverless Computing
Smart Cities Technology
Smart Contracts
Smart Fabrics
Smart Grid Technology
Solar Panel Technology
Space Exploration Technology
Space Tourism Technology
Supercritical CO2 Power Cycle Technology
Swarm Intelligence
Swarm Robotics
Synthetic Biology
Transparent Computing
Urban Air Mobility Technology
Vertical Farming Technology
Wearable Technology
Wind Turbine Technology
Machine Learning (ML)
Natural Language Processing (NLP)
Deep Learning (DL)
Virtual Reality (VR)
Internet of Things (IoT)
Robotics
Artificial Intelligence (AI)
Quantum Computing
Augmented Reality (AR)
"""
# Call the function to check for the presence of future stacks
present_stacks = check_future_stacks_in_resume(resume_text, future_stacks)

# Print the future stacks present in the resume
print("Future Stacks Present in Resume:")
print(present_stacks)

Future Stacks Present in Resume:
['\n', ' ', ' ', '\n', ' ', 'l', '\n', ' ', ' ', 's', 's', 's', ' ', 'S', 's', 's', ' ', 'S', '\n', ' ', ' ', 'l', '\n', ' ', 'l', 's', ' ', 'S', '\n', ' ', 'b', 's', '\n', 's', ' ', 's', '\n', 's', ' ', 'S', ' ', 'l', '\n', 's', ' ', 'l', 's', '\n', 'B', ' ', ' ', 'l', 's', '\n', 'B', 's', '\n', 'B', 'l', '\n', 'B', 'l', '\n', 'B', ' ', ' ', 'B', ' ', 'b', 'l', 's', '\n', 'B', ' ', 's', ' ', 'B', '\n', 'S', ' ', 'l', '\n', 'b', ' ', ' ', ' ', 'S', ' ', 'S', '\n', 'l', ' ', '\n', ' ', '\n', ' ', 's', '\n', ' ', '.', '.', ',', ' ', ',', ' ', 'b', 's', '\n', 'b', 's', 'l', ' ', 'S', 's', 's', ' ', 'S', '\n', 'b', 's', '\n', ' ', 'S', '\n', 'l', ' ', ' ', '\n', 'l', ' ', 's', '\n', 'l', ' ', 's', '\n', ' ', '\n', ' ', '\n', ' ', 's', ' ', 'l', '\n', ' ', 'S', ' ', 'S', 's', 's', '\n', 'l', 'b', 'l', ' ', ' ', '\n', ' ', 'L', '\n', ' ', 'b', 'l', ' ', 'l', '\n', 's', ' ', ' ', 'l', '\n', ' ', 's', 'l', ' ', 's', ' ', 's', '\n', ' ', '\n', 's', ' ', 'l', ' ', 'l', '\n', ' ', ' ', '\n', ' ', ' ', 'l', '\n', ' ', 'b', 's', '\n', ' ', 'l', ' ', 'l', 'l', ' ', 'l', '\n', 'l', ' ', 'l', '\n', 's', ' ', ' ', 'l', '\n', 'l', ' ', '\n', 'L', ' ', 'l', ' ', 'l', 's', '\n', 's', ' ', 'l', '\n', 's', 's', ' ', '\n', 's', 's', ' ', 's', '\n', 'l', ' ', 'l', ' ', 'l', 's', ' ', 's', '\n', 'l', '\n', 'l', '\n', ' ', 'B', 's', '\n', 'b', 'l', ' ', 's', ' ', 's', '\n', ' ', 'l', ' ', 'l', '\n', 's', 'l', ' ', ' ', 'l', '\n', 's', ' ', 'l', ' ', 'l', '\n', ' ', 'l', 's', '\n', ' ', ' ', 'l', '\n', 's', 's', ' ', 'b', ' ', 'l', 's', ' ', 's', '\n', ' ', '\n', ' ', ' ', 'L', '\n', ' ', 'S', 's', ' ', 'l', '\n', ' ', '\n', 'b', 'l', ' ', ' ', 'l', '\n', 'S', 'l', 'l', ' ', 'l', '\n', 'S', 'l', 'l', ' ', '\n', 'S', 'l', ' ', 's', '\n', 'S', 'l', 'l', ' ', 'l', 's', '\n', 'S', 'l', 's', 's', ' ', '\n', 'S', ' ', 's', ' ', 'l', '\n', 'S', ' ', 's', '\n', 'S', ' ', 'b', 's', '\n', 'S', ' ', ' ', 'l', '\n', 'S', 'l', ' ', 'l', ' ', 'l', '\n', 'S', ' ', 'l', ' ', 'l', '\n', 'S', ' ', 's', ' ', 'l', '\n', 'S', 'l', ' ', ' ', ' ', 'l', ' ', 'l', '\n', 'S', ' ', 'l', 'l', '\n', 'S', ' ', 'b', 's', '\n', 'S', ' ', 'B', 'l', '\n', 's', ' ', '\n', 'b', ' ', ' ', 'b', 'l', ' ', 'l', '\n', 'l', ' ', ' ', 'l', '\n', 'b', 'l', ' ', 'l', '\n', ' ', 'b', ' ', 'l', '\n', ' ', 'L', ' ', 'L', '\n', 'l', ' ', 'L', ' ', 's', 's', ' ', 'L', '\n', ' ', 'L', ' ', 'L', '\n', 'l', ' ', 'l', ' ', '\n', ' ', ' ', 's', ' ', '\n', 'b', 's', '\n', 'l', ' ', 'l', 'l', ' ', '\n', ' ', '\n', ' ', 'l', ' ', '\n', '\n', '\n', 's', '\n', ' ', ' ', ' ', 'l', ' ', 'l', 's', ' ', ' ', ' ', 's', 's', '\n', '\n', 'l', ',', ' ', 's', ' ', ' ', 'l', ' ', 'l', 's', ' ', ' ', ' ', 'l', 's', ' ', ' ', ' ', 's', '\n', '\n', ' ', ' ', '\n', ' ', 'l', '\n', ' ', ' ', 's', '\n', 'l', ' ', 'l', '\n', ' ', 's', ' ', 'S', 's', 's', '\n', 's', ' ', ' ', 'l', 's', ' ', 's', '\n', 'B', 'b', 'l', ' ', 'l', 's', 's', '\n', 'B', ' ', 'l', '\n', 'B', 'l', 'b', 's', ' ', ' ', 'S', 's', 's', '\n', 'b', ' ', ' ', ' ', 'l', ' ', '\n', 'b', ' ', 'b', ' ', 'l', '\n', 'l', ' ', ' ', 'l', '\n', ' ', '\n', ' ', 's', '\n', 'l', 'l', 'b', ' ', 'b', 's', ' ', 'b', 's', '\n', 's', ' ', 'l', 'l', '\n', ' ', ' ', 'S', 's', 's', '\n', 'l', ' ', ' ', 'l', 's', '\n', 'l', ' ', ' ', '\n', 'l', ' ', 's', ' ', ' ', 's', '\n', 'l', ' ', ' ', 'l', '\n', 's', 'b', ' ', 's', ' ', 's', ' ', 's', '\n', 's', 'b', ' ', 'L', ' ', 'l', ' ', 'L', '\n', ' ', 'S', ' ', 'S', ' ', 'S', 'S', '\n', ' ', 'l', 'l', '\n', ' ', '\n', 'l', 'b', 'l', ' ', 'l', 's', '\n', ' ', 'l', '\n', ' ', 'l', '\n', 's', ' ', 'l', '\n', 's', 'l', ' ', ' ', 's', '\n', 's', ' ', 's', ' ', 'l', '\n', ' ', '\n', 'L', ' ', '\n', 's', ' ', 'l', '\n', ' ', '\n', 's', 'b', 'l', ' ', '\n', ' ', 'l', ' ', ' ', 's', ' ', '\n', 's', 'l', ' ', ' ', 'l', 's', ' ', 's', '\n', 's', 'l', ' ', 'L', ' ', 'l', 's', '\n', 'l', 'B', 's', ' ', 'B', 'l', 's', 's', '\n', 'l', 'B', 's', ' ', ' ', 'l', 's', '\n', 's', ' ', 'l', ' ', 'l', '\n', 's', ' ', 'L', 's', ' ', '\n', ' ', 'L', 's', 's', '\n', 'b', 'l', ' ', 's', '\n', 'b', 'l', ' ', ' ', 'b', 's', '\n', 'b', 'l', ' ', '\n', 'b', 'l', ' ', 'l', 's', '\n', ' ', 'l', '\n', ' ', '\n', ' ', '\n', ' ', ' ', 's', 'b', ' ', '\n', ' ', 'l', 's', '\n', ' ', '\n', 's', 's', ' ', '\n', ' ', 'l', ' ', 'l', '\n', ' ', 'S', 's', ' ', 'l', '\n', 'S', 'l', 'l', ' ', '\n', 'S', 'l', 'l', ' ', 'S', ' ', 'l', '\n', 'S', 'l', ' ', 'B', 's', '\n', 'S', 'l', ' ', 's', ' ', '\n', 'S', 'l', ' ', 'l', 's', '\n', 'S', 'l', ' ', 's', '\n', 'S', ' ', 'l', '\n', 'S', ' ', 's', '\n', 'S', ' ', '\n', 'S', ' ', ' ', 'S', 's', 's', '\n', 'S', ' ', ' ', 'l', '\n', 'S', ' ', ' ', ' ', 'S', 's', 's', '\n', 'S', ' ', 's', ' ', ' ', 'S', 's', 's', '\n', 'S', 'l', ' ', 's', '\n', 'S', 'l', 'S', ' ', 'B', 's', '\n', 'S', ' ', 'b', 's', ' ', 'l', ' ', 'l', '\n', 'S', ' ', 'l', ' ', 'l', '\n', 'S', ' ', 'b', 's', '\n', 'S', 'B', 's', ' ', 'S', 'l', ' ', '\n', 'S', 'b', 's', ' ', '\n', 'S', 'l', ' ', ' ', 'b', 'l', ' ', 'l', '\n', 'S', ' ', 's', '\n', 'S', ' ', 'l', 'l', '\n', 'S', ' ', 'b', 's', '\n', 'S', ' ', 's', '\n', 's', ' ', 'S', 'l', ' ', 'l', 's', '\n', 'b', ' ', 'l', ' ', '\n', 'l', ' ', ' ', ' ', 'L', ' ', 'L', ' ', '\n', 'b', ' ', '\n', 'l', ' ', 's', '\n', ' ', ' ', '\n', ' ', 'l', '\n', ' ', ' ', 's', 's', 's', ' ', 'S', 's', 's', ' ', 'S', '\n', ' ', ' ', 'l', '\n', ' ', 'l', 's', ' ', 'S', '\n', ' ', 'b', 's', '\n', 's', ' ', 's', '\n', 's', ' ', 'S', ' ', 'l', '\n', 's', ' ', 'l', 's', '\n', 'B', ' ', ' ', 'l', 's', '\n', 'B', 's', '\n', 'B', 'l', '\n', 'B', 'l', '\n', 'B', ' ', ' ', 'B', ' ', 'b', 'l', 's', '\n', 'B', ' ', 's', ' ', 'B', '\n', 'S', ' ', 'l', '\n', 'b', ' ', ' ', ' ', 'S', ' ', 'S', '\n', 'l', ' ', '\n', ' ', '\n', ' ', 's', '\n', ' ', '.', '.', ',', ' ', ',', ' ', 'b', 's', '\n', 'b', 's', 'l', ' ', 'S', 's', 's', ' ', 'S', '\n', 'b', 's', '\n', ' ', 'S', '\n', 'l', ' ', ' ', '\n', 'l', ' ', 's', '\n', 'l', ' ', 's', '\n', ' ', '\n', ' ', '\n', ' ', 's', ' ', 'l', '\n', ' ', 'S', ' ', 'S', 's', 's', '\n', 'l', 'b', 'l', ' ', ' ', '\n', ' ', 'L', '\n', ' ', 'b', 'l', ' ', 'l', '\n', 's', ' ', ' ', 'l', '\n', ' ', 's', 'l', ' ', 's', ' ', 's', '\n', ' ', '\n', 's', ' ', 'l', ' ', 'l', '\n', ' ', ' ', '\n', ' ', ' ', 'l', '\n', ' ', 'b', 's', '\n', ' ', 'l', ' ', 'l', 'l', ' ', 'l', '\n', 'l', ' ', 'l', '\n', 's', ' ', ' ', 'l', '\n', 'l', ' ', '\n', 'L', ' ', 'l', ' ', 'l', 's', '\n', 's', ' ', 'l', '\n', 's', 's', ' ', '\n', 's', 's', ' ', 's', '\n', 'l', ' ', 'l', ' ', 'l', 's', ' ', 's', '\n', 'l', '\n', 'l', '\n', ' ', 'B', 's', '\n', 'b', 'l', ' ', 's', ' ', 's', '\n', ' ', 'l', ' ', 'l', '\n', 's', 'l', ' ', ' ', 'l', '\n', 's', ' ', 'l', ' ', 'l', '\n', ' ', 'l', 's', '\n', ' ', ' ', 'l', '\n', 's', 's', ' ', 'b', ' ', 'l', 's', ' ', 's', '\n', ' ', '\n', ' ', ' ', 'L', '\n', ' ', 'S', 's', ' ', 'l', '\n', ' ', '\n', 'b', 'l', ' ', ' ', 'l', '\n', 'S', 'l', 'l', ' ', 'l', '\n', 'S', 'l', 'l', ' ', '\n', 'S', 'l', ' ', 's', '\n', 'S', 'l', 'l', ' ', 'l', 's', '\n', 'S', 'l', 's', 's', ' ', '\n', 'S', ' ', 's', ' ', 'l', '\n', 'S', ' ', 's', '\n', 'S', ' ', 'b', 's', '\n', 'S', ' ', ' ', 'l', '\n', 'S', 'l', ' ', 'l', ' ', 'l', '\n', 'S', ' ', 'l', ' ', 'l', '\n', 'S', ' ', 's', ' ', 'l', '\n', 'S', 'l', ' ', ' ', ' ', 'l', ' ', 'l', '\n', 'S', ' ', 'l', 'l', '\n', 'S', ' ', 'b', 's', '\n', 'S', ' ', 'B', 'l', '\n', 's', ' ', '\n', 'b', ' ', ' ', 'b', 'l', ' ', 'l', '\n', 'l', ' ', ' ', 'l', '\n', 'b', 'l', ' ', 'l', '\n', ' ', 'b', ' ', 'l', '\n', ' ', 'L', ' ', 'L', '\n', 'l', ' ', 'L', ' ', 's', 's', ' ', 'L', '\n', ' ', 'L', ' ', 'L', '\n', 'l', ' ', 'l', ' ', '\n', ' ', ' ', 's', ' ', '\n', 'b', 's', '\n', 'l', ' ', 'l', 'l', ' ', '\n', ' ', '\n', ' ', 'l', ' ', '\n']

In [53]:
technology_skills = {
    "3D Printing/Additive Manufacturing": ["CAD Design", "Material Science", "Manufacturing Processes"],
    "5G Technology": ["Wireless Communication", "Network Infrastructure", "Protocol Knowledge"],
    "Advanced Driver Assistance Systems (ADAS)": ["Computer Vision", "Machine Learning", "Embedded Systems"],
    "Advanced Manufacturing Technology": ["Automation", "Process Optimization", "Quality Control"],
    "Advanced Materials Science": ["Material Synthesis", "Characterization Techniques", "Nanostructures"],
    "Advanced Robotics": ["Mechatronics", "Control Systems", "Programming"],
    "Autonomous Drones": ["Drone Piloting", "Computer Vision", "Navigation Algorithms"],
    "Autonomous Shipping Technology": ["Maritime Engineering", "Navigation Systems", "Remote Sensing"],
    "Autonomous Vehicles": ["Sensor Fusion", "Path Planning", "Artificial Intelligence"],
    "Big Data Analytics": ["Data Mining", "Statistical Analysis", "Big Data Platforms"],
    "Bioinformatics": ["Genomics", "Computational Biology", "Biostatistics"],
    "Biotechnology": ["Genetic Engineering", "Cell Culture", "Bioprocess Optimization"],
    "Blockchain": ["Distributed Ledger Technology", "Smart Contracts", "Cryptography"],
    "Brain-Computer Interface (BCI) Wearables": ["Neurotechnology", "Wearable Technology", "Signal Processing"],
    "Brain-Computer Interfaces (BCI)": ["Neurotechnology", "Signal Processing", "Machine Learning"],
    "CRISPR Technology": ["Genetic Engineering", "Molecular Biology", "Bioethics"],
    "Carbon Capture and Storage (CCS)": ["Carbon Capture Technology", "Storage Systems", "Environmental Engineering"],
    "Cloud Computing": ["Virtualization", "Distributed Systems", "Security"],
    "Cognitive Computing": ["Natural Language Processing", "Machine Learning", "Artificial Intelligence"],
    "Computer Vision": ["Image Processing", "Machine Learning", "Object Recognition"],
    "Containerization (e.g., Docker, Kubernetes)": ["Container Orchestration", "DevOps", "Microservices"],
    "Cyber-Physical Systems (CPS)": ["Embedded Systems", "Communication Protocols", "Security"],
    "Cybersecurity": ["Network Security", "Penetration Testing", "Security Policies"],
    "Data Science": ["Statistics", "Machine Learning", "Data Analytics"],
    "Decentralized Finance (DeFi)": ["Blockchain", "Smart Contracts", "Cryptocurrency"],
    "Digital Therapeutics": ["Healthcare Technology", "Software Development", "Medical Research"],
    "Digital Twins": ["IoT", "Data Analytics", "Simulation Modeling"],
    "Edge AI": ["Edge Computing", "Machine Learning", "Data Security"],
    "Edge Computing": ["Distributed Computing", "IoT", "Network Architecture"],
    "Energy Harvesting Technology": ["Renewable Energy", "Sensor Integration", "Power Management"],
    "Energy Storage Systems": ["Battery Technology", "Energy Management", "Renewable Energy"],
    "Explainable AI (XAI)": ["Interpretable Models", "Machine Learning", "Explanatory Visualization"],
    "Federated Learning": ["Decentralized Machine Learning", "Privacy-Preserving Algorithms", "Data Collaboration"],
    "Food Traceability Technology": ["Supply Chain Technology", "Blockchain", "Data Analytics"],
    "Fusion Energy Technology": ["Nuclear Fusion", "Plasma Physics", "Energy Conversion"],
    "Generative Adversarial Networks (GANs)": ["Machine Learning", "Deep Learning", "Neural Networks"],
    "Genetic Engineering": ["Molecular Biology", "Biotechnology", "Genomics"],
    "Gesture Control Technology": ["Human-Computer Interaction", "Sensor Technology", "Machine Learning"],
    "High-Performance Computing (HPC)": ["Parallel Computing", "Supercomputing", "Performance Optimization"],
    "Human Augmentation Technology": ["Augmented Reality", "Prosthetics", "Biomechanics"],
    "Humanoid Robotics": ["Robotics", "Mechatronics", "Artificial Intelligence"],
    "Hydrogen Fuel Cell Technology": ["Fuel Cell Systems", "Chemical Engineering", "Renewable Energy"],
    "Hyperloop Technology": ["Transportation Technology", "Magnetic Levitation", "Infrastructure Design"],
    "Insect Farming Technology": ["Entomology", "Agricultural Technology", "Sustainable Farming"],
    "Interplanetary Internet": ["Space Communication", "Networking Protocols", "Satellite Technology"],
    "Low-Code/No-Code Development Platforms": ["Software Development", "Application Design", "User Interface"],
    "Metaverse Development": ["Virtual Reality", "Augmented Reality", "Game Development"],
    "Microservices Architecture": ["Software Architecture", "Containerization", "Distributed Systems"],
    "Microservices Mesh": ["Service Mesh", "Microservices Architecture", "API Management"],
    "Multi-Experience Development Platforms (MXDPs)": ["Cross-Platform Development", "User Experience Design", "Mobile App Development"],
    "Nanotechnology": ["Materials Science", "Nanomaterials", "Nanofabrication"],
    "Neurotechnology": ["Neuroscience", "Brain-Computer Interfaces", "Neural Engineering"],
    "Next-Generation Batteries": ["Battery Technology", "Materials Science", "Energy Storage"],
    "Non-Fungible Tokens (NFTs)": ["Blockchain", "Digital Assets", "Cryptocurrency"],
    "Ocean Cleanup Technology": ["Marine Engineering", "Environmental Science", "Oceanography"],
    "Personalized Medicine Technology": ["Genomics", "Health Informatics", "Precision Medicine"],
    "Precision Agriculture Technology": ["Agricultural Technology", "IoT", "Data Analytics"],
    "Predictive Analytics": ["Data Science", "Machine Learning", "Statistical Modeling"],
    "Predictive Maintenance Technology": ["Condition Monitoring", "IoT", "Data Analytics"],
    "Progressive Web Applications (PWAs)": ["Web Development", "JavaScript", "User Experience Design"],
    "Quantum Cryptography": ["Quantum Physics", "Cryptography", "Quantum Key Distribution"],
    "Quantum Machine Learning": ["Quantum Computing", "Machine Learning", "Quantum Algorithms"],
    "Quantum Sensing Technology": ["Quantum Physics", "Sensing Devices", "Quantum Metrology"],
    "Regenerative Medicine": ["Stem Cell Research", "Tissue Engineering", "Biomedical Engineering"],
    "Renewable Energy Technology": ["Solar Energy", "Wind Energy", "Hydropower"],
    "Satellite Technology": ["Satellite Communication", "Spacecraft Systems", "Remote Sensing"],
    "Self-Healing Concrete": ["Material Science", "Civil Engineering", "Structural Health Monitoring"],
    "Self-driving Tractors": ["Autonomous Vehicles", "Agricultural Technology", "Sensor Fusion"],
    "Self-healing Materials": ["Materials Science", "Polymer Chemistry", "Material Engineering"],
    "Serverless Computing": ["Cloud Computing", "Function as a Service (FaaS)", "Microservices"],
    "Smart Cities Technology": ["IoT", "Urban Planning", "Data Analytics"],
    "Smart Contracts": ["Blockchain", "Smart Contract Development", "Cryptocurrency"],
    "Smart Fabrics": ["Textile Technology", "Wearable Technology", "Sensor Integration"],
    "Smart Grid Technology": ["Electrical Engineering", "Grid Management", "Renewable Energy Integration"],
    "Solar Panel Technology": ["Photovoltaics", "Solar Energy", "Energy Harvesting"],
    "Space Exploration Technology": ["Aerospace Engineering", "Rocket Science", "Spacecraft Systems"],
    "Space Tourism Technology": ["Commercial Space Travel", "Spacecraft Design", "Space Tourism Operations"],
    "Supercritical CO2 Power Cycle Technology": ["Power Generation", "Thermodynamics", "Energy Conversion"],
    "Swarm Intelligence": ["Collective Behavior", "Distributed Systems", "Algorithms"],
    "Swarm Robotics": ["Cooperative Robotics", "Decentralized Control", "Swarm Algorithms"],
    "Synthetic Biology": ["Genetic Engineering", "Biotechnology", "Molecular Biology"],
    "Transparent Computing": ["Data Security", "Transparency Protocols", "Decentralized Systems"],
    "Urban Air Mobility Technology": ["Aerospace Engineering", "Drone Technology", "Air Traffic Management"],
    "Vertical Farming Technology": ["Agricultural Technology", "Hydroponics", "Vertical Farming Systems"],
    "Wearable Technology": ["Wearable Devices", "Sensor Integration", "Health Monitoring"],
    "Wind Turbine Technology": ["Wind Energy", "Mechanical Engineering", "Power Electronics"],
    "Machine Learning (ML)": ["Data Science", "Statistical Modeling", "Algorithm Design"],
    "Natural Language Processing (NLP)": ["Computational Linguistics", "Text Processing", "Machine Translation"],
    "Deep Learning (DL)": ["Neural Networks", "Deep Neural Networks", "Computer Vision"],
    "Virtual Reality (VR)": ["Immersive Technology", "3D Modeling", "User Experience Design"],
    "Internet of Things (IoT)": ["Embedded Systems", "Sensor Networks", "Cloud Integration"],
    "Robotics": ["Mechanical Engineering", "Electrical Engineering", "Control Systems"],
    "Artificial Intelligence (AI)": ["Machine Learning", "Natural Language Processing", "Computer Vision"],
    "Quantum Computing": ["Quantum Physics", "Quantum Algorithms", "Quantum Hardware"],
    "Augmented Reality (AR)": ["Mixed Reality", "Computer Vision", "User Interface Design"],

    # ... (add more technologies)
}

In [58]:
df = pd.DataFrame(list(technology_skills.items()), columns=['Technology', 'Skills'])

# Split the Skills list into separate columns
df[['Skill1', 'Skill2', 'Skill3']] = pd.DataFrame(df['Skills'].tolist(), index=df.index)

# Drop the original 'Skills' column
df = df.drop(columns=['Skills'])

# Display the DataFrame
df.head(10)

,Technology,Skill1,Skill2,Skill3
0,3D Printing/Additive Manufacturing,CAD Design,Material Science,Manufacturing Processes
1,5G Technology,Wireless Communication,Network Infrastructure,Protocol Knowledge
2,Advanced Driver Assistance Systems (ADAS),Computer Vision,Machine Learning,Embedded Systems
3,Advanced Manufacturing Technology,Automation,Process Optimization,Quality Control
4,Advanced Materials Science,Material Synthesis,Characterization Techniques,Nanostructures
5,Advanced Robotics,Mechatronics,Control Systems,Programming
6,Autonomous Drones,Drone Piloting,Computer Vision,Navigation Algorithms
7,Autonomous Shipping Technology,Maritime Engineering,Navigation Systems,Remote Sensing
8,Autonomous Vehicles,Sensor Fusion,Path Planning,Artificial Intelligence
9,Big Data Analytics,Data Mining,Statistical Analysis,Big Data Platforms

In [60]:
df.shape

(95, 4)

In [62]:
import spacy

# Load the spaCy English language model
nlp = spacy.load("en_core_web_sm")

def analyze_resume(resume_text):
    # Process the resume text using spaCy
    doc = nlp(resume_text)

    # Extract relevant information
    entities = {ent.label_: [ent.text for ent in doc.ents] for ent in doc.ents}
    
    # Customize this based on your specific requirements
    relevant_info = {
        "entities": entities,
        "skills": extract_skills(doc),
        # Add more features or analysis as needed
    }

    return relevant_info

def extract_skills(doc):
    # Customize this function to extract skills from the document
    # For example, you can look for keywords or use a pre-trained model for skills extraction
    skills = ["Python", "Machine Learning", "Data Analysis"]  # Placeholder, replace with actual implementation
    return skills

# Example usage
user_resume = """
John Doe
Software Engineer

Education:
- Bachelor of Science in Computer Science, XYZ University, 2018

Experience:
- Software Developer, ABC Tech, 2018-present
  - Developed and maintained web applications using Python and Django.
  - Collaborated with cross-functional teams to deliver high-quality software.

Skills:
- Python
- Django
- JavaScript
"""

result = analyze_resume(user_resume)
result

{'entities': {'PERSON': ['John Doe\n',
   'XYZ University',
   '2018',
   'ABC Tech',
   '2018',
   'Django',
   'JavaScript'],
  'ORG': ['John Doe\n',
   'XYZ University',
   '2018',
   'ABC Tech',
   '2018',
   'Django',
   'JavaScript'],
  'DATE': ['John Doe\n',
   'XYZ University',
   '2018',
   'ABC Tech',
   '2018',
   'Django',
   'JavaScript'],
  'PRODUCT': ['John Doe\n',
   'XYZ University',
   '2018',
   'ABC Tech',
   '2018',
   'Django',
   'JavaScript']},
 'skills': ['Python', 'Machine Learning', 'Data Analysis']}