In [89]:
import pandas as pd
import numpy as np
import string

In [90]:
data=pd.read_csv('Resume.csv')

In [91]:
cat=data['Category']

In [92]:
data.head()

,ID,Resume_str,Resume_html,Category
0,16852973,HR ADMINISTRATOR/MARKETING ASSOCIATE\...,"<div class=""fontsize fontface vmargins hmargin...",HR
1,22323967,"HR SPECIALIST, US HR OPERATIONS ...","<div class=""fontsize fontface vmargins hmargin...",HR
2,33176873,HR DIRECTOR Summary Over 2...,"<div class=""fontsize fontface vmargins hmargin...",HR
3,27018550,HR SPECIALIST Summary Dedica...,"<div class=""fontsize fontface vmargins hmargin...",HR
4,17812897,HR MANAGER Skill Highlights ...,"<div class=""fontsize fontface vmargins hmargin...",HR

In [93]:
data.shape

(2484, 4)

In [94]:
data['Category'].unique()

array(['HR', 'DESIGNER', 'INFORMATION-TECHNOLOGY', 'TEACHER', 'ADVOCATE',
       'BUSINESS-DEVELOPMENT', 'HEALTHCARE', 'FITNESS', 'AGRICULTURE',
       'BPO', 'SALES', 'CONSULTANT', 'DIGITAL-MEDIA', 'AUTOMOBILE',
       'CHEF', 'FINANCE', 'APPAREL', 'ENGINEERING', 'ACCOUNTANT',
       'CONSTRUCTION', 'PUBLIC-RELATIONS', 'BANKING', 'ARTS', 'AVIATION'],
      dtype=object)

In [95]:
from sklearn.preprocessing import LabelEncoder
lbl=LabelEncoder()
data['Category']=lbl.fit_transform(data['Category'])

In [96]:
data=data.drop(['Resume_html','ID'],axis=1)

In [97]:
data.head()

                                          Resume_str  Category
0           HR ADMINISTRATOR/MARKETING ASSOCIATE\...        19
1           HR SPECIALIST, US HR OPERATIONS      ...        19
2           HR DIRECTOR       Summary      Over 2...        19
3           HR SPECIALIST       Summary    Dedica...        19
4           HR MANAGER         Skill Highlights  ...        19

In [98]:
data['Resume_str']=data['Resume_str'].str.lower()

In [99]:
import re

def preprocess_text(text):
    # Remove numbers
    text = re.sub(r'\d+', '', text)
    
    # Remove unwanted characters (replace with whitespace)
    text = re.sub(r'[^a-zA-Z\s]', ' ', text)
    
    # Convert to lowercase
    text = text.lower()
    
    # Remove extra whitespaces
    text = re.sub(r'\s+', ' ', text).strip()
    
    return text

In [102]:
data['Resume_str'] = data['Resume_str'].apply(lambda x: preprocess_text(x))

In [103]:
data['Resume_str'] = data['Resume_str'].apply(lambda x: ''.join([c for c in x if c not in string.punctuation]))

In [104]:
result=data['Category']

In [105]:
data.head()

                                          Resume_str  Category
0  hr administrator marketing associate hr admini...        19
1  hr specialist us hr operations summary versati...        19
2  hr director summary over years experience in r...        19
3  hr specialist summary dedicated driven and dyn...        19
4  hr manager skill highlights hr skills hr depar...        19

In [106]:
data['Resume_str'] = data['Resume_str'].apply(lambda x: x.split())

In [121]:
data.head()

,aa,aaa,aaae,aaahc,aaai,aac,aacc,aaccount,aacn,aacsb,...,zune,zurich,zutano,zvm,zx,zxx,zynex,zynx,zypher,zyrtec
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [108]:
from nltk.corpus import stopwords
import nltk
nltk.download('stopwords')

# Remove stopwords
stop_words = set(stopwords.words('english'))
data['Resume_str'] = data['Resume_str'].apply(lambda x: [word for word in x if word not in stop_words])

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/namanmuktha/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [109]:
data.head()

                                          Resume_str  Category
0  [hr, administrator, marketing, associate, hr, ...        19
1  [hr, specialist, us, hr, operations, summary, ...        19
2  [hr, director, summary, years, experience, rec...        19
3  [hr, specialist, summary, dedicated, driven, d...        19
4  [hr, manager, skill, highlights, hr, skills, h...        19

In [110]:
from nltk.stem import WordNetLemmatizer
nltk.download('wordnet')

# Lemmatization
lemmatizer = WordNetLemmatizer()
data['Resume_str'] = data['Resume_str'].apply(lambda x: [lemmatizer.lemmatize(word) for word in x])

[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/namanmuktha/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [111]:
data.head()

                                          Resume_str  Category
0  [hr, administrator, marketing, associate, hr, ...        19
1  [hr, specialist, u, hr, operation, summary, ve...        19
2  [hr, director, summary, year, experience, recr...        19
3  [hr, specialist, summary, dedicated, driven, d...        19
4  [hr, manager, skill, highlight, hr, skill, hr,...        19

In [112]:
from nltk import SnowballStemmer
lang="english"
steamer=SnowballStemmer(lang)
def adding_stemming(tokens):
    return [steamer.stem(token) for token in tokens]
data["Resume_str"]=data["Resume_str"].apply(adding_stemming)

In [113]:
data.head()

                                          Resume_str  Category
0  [hr, administr, market, associ, hr, administr,...        19
1  [hr, specialist, u, hr, oper, summari, versati...        19
2  [hr, director, summari, year, experi, recruit,...        19
3  [hr, specialist, summari, dedic, driven, dynam...        19
4  [hr, manag, skill, highlight, hr, skill, hr, d...        19

In [120]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf_vectorizer = TfidfVectorizer(max_features=20000)

# Assuming 'work_data' is a DataFrame with a 'text' column containing lists of words
tfidf_matrix = tfidf_vectorizer.fit_transform([" ".join(doc) for doc in data['Resume_str']])

tfidf_df = pd.DataFrame(tfidf_matrix.toarray(), columns=tfidf_vectorizer.get_feature_names_out())

# Concatenate the 'text' column and the TF-IDF features
data = pd.concat([data['Resume_str'].reset_index(drop=True), tfidf_df], axis=1)

KeyError: 'Resume_str'

In [122]:
data.head()

,aa,aaa,aaae,aaahc,aaai,aac,aacc,aaccount,aacn,aacsb,...,zune,zurich,zutano,zvm,zx,zxx,zynex,zynx,zypher,zyrtec
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [123]:
data=data.drop(['Resume_str'],axis=1)

KeyError: "['Resume_str'] not found in axis"

In [124]:
data.head()

,aa,aaa,aaae,aaahc,aaai,aac,aacc,aaccount,aacn,aacsb,...,zune,zurich,zutano,zvm,zx,zxx,zynex,zynx,zypher,zyrtec
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [125]:
result

0       19
1       19
2       19
3       19
4       19
        ..
2479     6
2480     6
2481     6
2482     6
2483     6
Name: Category, Length: 2484, dtype: int64

In [126]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(data,result,test_size=0.2,random_state=132)

In [127]:
from sklearn.naive_bayes import MultinomialNB

In [128]:
from sklearn.metrics import accuracy_score
gnb=MultinomialNB()
gnb.fit(X_train,y_train)
y_p=gnb.predict(X_test)
print(accuracy_score(y_test,y_p)*100)

33.199195171026155

In [129]:
from sklearn.svm import SVC 
svc=SVC()
svc.fit(X_train,y_train)
y_p=gnb.predict(X_test)
print(accuracy_score(y_test,y_p)*100)

33.199195171026155

In [130]:
from sklearn.tree import DecisionTreeClassifier 
dt=DecisionTreeClassifier()
dt.fit(X_train,y_train)
y_p=dt.predict(X_test)
print(accuracy_score(y_test,y_p)*100)

50.905432595573444

In [131]:
from sklearn.ensemble import RandomForestClassifier 
from sklearn.metrics import accuracy_score,classification_report
rfc=RandomForestClassifier()
rfc.fit(X_train,y_train)
y_p=dt.predict(X_test)
print(accuracy_score(y_test,y_p)*100)
print(classification_report(y_test,y_svc_p))

50.905432595573444

NameError: name 'y_svc_p' is not defined

In [132]:
from sklearn.multiclass import OneVsRestClassifier
from sklearn.neighbors import KNeighborsClassifier
clf = OneVsRestClassifier(KNeighborsClassifier())
%time clf.fit(X_train, y_train)
prediction = clf.predict(X_test)
print(accuracy_score(y_test,prediction)*100)

CPU times: user 3.89 s, sys: 1.34 s, total: 5.23 s
Wall time: 5.71 s
52.91750503018109

In [133]:
clf_report = classification_report(y_test, prediction)

/Users/namanmuktha/anaconda3/lib/python3.11/site-packages/sklearn/metrics/_classification.py:1471: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/namanmuktha/anaconda3/lib/python3.11/site-packages/sklearn/metrics/_classification.py:1471: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/namanmuktha/anaconda3/lib/python3.11/site-packages/sklearn/metrics/_classification.py:1471: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [135]:
print(clf_report)

              precision    recall  f1-score   support

           0       0.68      0.79      0.73        34
           1       0.82      0.33      0.47        27
           2       0.75      0.20      0.32        15
           3       0.64      0.28      0.39        25
           4       0.42      0.26      0.32        19
           5       0.33      0.10      0.15        10
           6       0.67      0.38      0.48        16
           7       0.69      0.35      0.46        26
           8       0.00      0.00      0.00         2
           9       0.25      0.62      0.35        21
          10       0.78      0.75      0.77        24
          11       0.77      0.65      0.71        26
          12       0.20      0.04      0.06        26
          13       0.78      0.78      0.78        18
          14       0.63      0.67      0.65        18
          15       0.39      0.75      0.51        16
          16       0.43      0.53      0.48        19
          17       0.44      0.37      0.40        19
          18       0.42      0.56      0.48        18
          19       0.62      0.83      0.71        18
          20       0.41      0.78      0.54        23
          21       0.71      0.71      0.71        28
          22       0.35      0.50      0.41        26
          23       0.59      0.70      0.64        23

    accuracy                           0.53       497
   macro avg       0.53      0.50      0.48       497
weighted avg       0.56      0.53      0.51       497

In [136]:
from sklearn.multiclass import OneVsRestClassifier
from sklearn.linear_model import LogisticRegression
clf = OneVsRestClassifier(LogisticRegression())
%time clf.fit(X_train, y_train)
prediction = clf.predict(X_test)
print(accuracy_score(y_test,prediction)*100)

CPU times: user 1min 57s, sys: 2.7 s, total: 1min 59s
Wall time: 20.4 s
62.97786720321932

In [137]:
from sklearn.multiclass import OneVsRestClassifier
from sklearn.linear_model import LogisticRegression
clf = OneVsRestClassifier(Classifier())
%time clf.fit(X_train, y_train)
prediction = clf.predict(X_test)
print(accuracy_score(y_test,prediction)*100)

CPU times: user 29.4 s, sys: 666 ms, total: 30.1 s
Wall time: 30.8 s
42.857142857142854

In [138]:
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score
from sklearn.multiclass import OneVsRestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import StratifiedKFold

# Create the OneVsRestClassifier with Logistic Regression
clf = OneVsRestClassifier(LogisticRegression())

# Define hyperparameter grid
param_grid = {
    'estimator__C': [0.001, 0.01, 0.1, 1, 10, 100],  # Regularization parameter
    'estimator__solver': ['liblinear', 'lbfgs'],  # Optimization algorithm
}

# Create GridSearchCV object
grid_search = GridSearchCV(clf, param_grid, scoring='accuracy', cv=StratifiedKFold(n_splits=5), verbose=1)

# Fit the model with hyperparameter tuning
%time grid_search.fit(X_train, y_train)

# Get the best estimator and its hyperparameters
best_clf = grid_search.best_estimator_
best_params = grid_search.best_params_

# Predict on the test set using the best model
prediction = best_clf.predict(X_test)

# Evaluate accuracy
accuracy = accuracy_score(y_test, prediction) * 100
print("Best Hyperparameters:", best_params)
print("Test Accuracy:", accuracy)

Fitting 5 folds for each of 12 candidates, totalling 60 fits
CPU times: user 1h 29min 49s, sys: 3min 4s, total: 1h 32min 53s
Wall time: 17min 47s
Best Hyperparameters: {'estimator__C': 100, 'estimator__solver': 'liblinear'}
Test Accuracy: 67.0020120724346